@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-pt-sans);
}
body{
  background-color: #F6F6F9;
  min-height: 100vh;
  /* overflow: hidden; */
}

.main-blue {
  color: #00295E; 
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Poppins', sans-serif; 
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main-green{
  color: #003F45;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main-red{
  color: #720009;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.arrow {
  width: 26.249px;
  height: 0px;
  transform: rotate(130.365deg);
  stroke-width: 2px;
  stroke: #FFF;
}